# Bazni URL-ovi backend mikroservisa (Service Fabric lokalni klaster)
VITE_IDENTITY_API_URL=http://localhost:8081/api
VITE_TRIP_API_URL=http://localhost:8082/api
VITE_EXPENSE_API_URL=http://localhost:8083/api
VITE_SHARING_API_URL=http://localhost:8084/api
